*{
    margin: 0;
    padding: 0;
}

.fix {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    border-style:hidden;
    margin-bottom: 2%;
    padding: 1%;
    background-color: rgb(72, 75, 71);
}

.score{
    background-color: rgb(78, 20, 92);
    text-align: center;
    border-style: solid;
    font-weight: bold;
    height: 100%;
    font-size: 150%;
    border-color: black;
    color: white;
    margin-right: 2%;
    margin-left: 2%;
}

.scores {
    display: grid;
    grid-template-columns: 50% 50%;
}


.team1 {
    text-align: right;
    margin-right: 2%;
    font-size: large;
}

.team2 {
    text-align: left;
    margin-left: 2%;
    font-size: large;
}

.team1-img {
    width: 40px;
}

.time {
    background-color: rgb(78, 20, 92);
    text-align: center;
    border-style: solid;
    font-weight: bold;
    border-color: black;
    color: white;
    margin-right: 2%;
    margin-left: 2%;
}